<!-- # -->
<!-- # ----------------------------------------------------------------- # -->
<!-- # System    : Centos 7.4                                            # -->
<!-- #   Name    : peekaboo                                              # -->
<!-- # Location  : /home/don/workspace/learn-rails/app/views/visitors    # -->
<!-- # File Name : new.html.erb                                          # -->
<!-- # Rev. Date : 12/31/2017                                            # -->
<!-- # Rev. No.  : 0.0.1                                                 # -->
<!-- # ----------------------------------------------------------------- # -->
<!-- # -->

<h3>
    Home
</h3>

<p>
    Welcome to the home of <%= @owner.name %>.
</p>

<p>
    I was born on <%= @owner.birthdate %>.
</p>

<p>
    Only <%= @owner.countdown %> days until my birthday!
</p>       

<!-- # -->
<!-- # ----------------------------------------------------------------- # -->
<!-- # Date Rev.  : Rev. # :     Description                             # -->
<!-- # ----------------------------------------------------------------- # -->
<!-- # 12/31/2017 : 0.0.1  : Orginal.                                    # -->
<!-- # ----------------------------------------------------------------- # -->

